/*Style sheet-Portfolio site*/
html {
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#navbar {
    background-color: rgb(92, 78, 78);
    height: 90px;
}

#navbar ul {
    float: right;
}

#navbar ul li {
    list-style: none;
    display: inline;
    margin-right: 50px;

}

#navbar ul li a {
    text-transform: uppercase;
    color: azure;

}

section {
    margin-top: -20px;
}

#welcome-section,#skills,#projects,#education,#contact  {
    height: 100vh;
   

}
#welcome-section{
    
    background: #ddd9d9;

}
#skills{
    
    background: hsl(0, 96%, 52%);
}
#projects{
    background-color: blue;

}
#education {
background-color: bisque;
}
#contact {
    background-color: aqua;

}