/*Style sheet-Portfolio site*/
/****************************************************************
    Few Rules
    Font
    -H1-big Heading
    -h2-section Heading
    
    ********
    **Sections***
    -Welcome-section----background image
    -Skills-section----- background White
    -projects-section----- colored background #ffbc45; 
    -education-section----- background White
    -contact-section-----  colored background #ffbc45; 

  *******************************************************************/

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #525252;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
}

/* .container-fluid {
    padding: 2% 0%;
    overflow:hidden;
} */
.container-fluid {
    max-width: 1280px;
    padding: 30px 180px;
}

li {
    list-style: none;
}

#mesfint {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0vw;
    font-weight: bold;
    color: #fff;
    margin-left: 38px;
    padding-left: 5px;
    margin-top: 6px;
    position: absolute;

}
#mesfint:hover {
    color:#000;
}

#parallelogram {
    width: 7.8vw;
    height: 3.125vw;
    margin-top: 10px;
    margin-left: 40px;
    transform: skew(20deg);
    background: #e28c05;
    margin-bottom: 5px;
}
#navbar > #parallelogram:hover {
    color: #000;
    background-color: #e28c05;

    
}

/*#junior {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7vh;
    margin-top: 29px;
    margin-left: 32px;
    line-height: 2.0;
    position: absolute;

}*/

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: #fff !important;
    font-size: 1.25vw;
    font-family: "Montserrat";

}

.nav-link:hover {
    color: #000 !important;
    background-color: #e28c05 !important;
}

.nav-link:active {
    border-bottom: 2px solid #fff;

}

p {
    font-family: 'Montserrat-Thin', sans-serif;
    /*color: #efefef;*/
    color: #8f8f8f;
    font-size: 1.5vw;
    line-height: 1.5;
}

#navbar {
/*padding-bottom: 4.5rem;*/
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
 z-index: 2;
 
}

section {
  
    height: 1200px;/* Used in this example to enable scrolling */

}
#welcome-section,#skills,#about,#contact,#footer {
    height: 100vh;
}
/*All sections with similar padding*/
#skills,#projects,#about,#contact,#footer {
    padding:3% 15%;
    

}

.bg_image {
    background: no-repeat center right fixed url('../images/bg2_about.jpg');
    height: 100%;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /* background-repeat: no-repeat; */
    filter: blur(4px);
    -webkit-filter: blur(4px);

}
.bg_image .layer {
    background-color: #e28c05;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.about_me {
    color: #fff;
    /*font-size: 8vh;*/
    border: 3px solid #e28c05;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 60%;
    padding: 20px;
    text-align: center;
}


.about_me h4 {
    
    font-size: 2.8vw;
}

 h1,h2,h3,h4,h5,h6,p {
    font-family: 'Montserrat', sans-serif;
    
}
#big-heading {
    font-size: 4.25vw;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 500;
    
  
}
#section-heading {
    text-align: center;
    font-size: 3.75vw;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
h3 {
    
    size: 1vw;
    line-height: 1;
    color:#000;

}
.white-section {

    /* background: #313131; */
    background: #fff;
    color:#000;
    
}
.colored-section {
    background: #ffbc45;
    color: #fff;
}
#black-section {
    background: #000;
    color:#fff;
}

#skills   {
    padding-top:7%;
    color: #e28c05;
   
}
#about {
    padding-top:7%;
    color: #e28c05;
}
#contact {
    color: #e28c05;
}
#contact .container {
    padding-top: 4%;

}

#projects{
    padding: 80px; 
    color: #e28c05;
    height: auto;
    
 
}
.project {
    /*padding: 2%;*/
    /*float: left;
    width: 33.33%;
    padding: 3%;*/
    padding: 3% 4%;
}



.project-lang {
    color:#000;
    
}


#footer {
    max-height: 40px;
    /*background-color: #313131;
    color: #ffbc45;*/
    /*padding: 7% 5%;*/
    padding-bottom: 10px;


}
#footer ul {
    padding-left: 140px;

}

.profile img {
    padding-right: 15px;
}

.social li {
    background: #fff;
    border-bottom: 1px solid #000;
    margin: 5% 7%;
    display: inline;
    font-family: 'Montserrat-Bold', sans-serif;

    padding-right: 15px;
    padding-top: 17px;
    text-align: center;
    padding-bottom: 21px;
    padding-left: 10px;

}
/*Copyright*/
#copyRight {
    text-align:center;
    font-size: 1vw; 
    padding-top: 10%;

}
/*CONTACT Section*/
.mui-form {
    width: 100%;
    margin-top: 20px;
   /* margin: 0 auto;*/
    vertical-align: middle;
   
}

.mui-form label
 {
    color: #000;
}

.mui-form legend {
    color: #000;
}
.mui-textfield>input, .mui-textfield {
    border-bottom: 1px solid #000;
}
.mui-textfield>textarea {
    border-bottom: 1px solid #000;

}
.mui-btn {
    background-color: #ffbc45;
}

.btn-warning {
    background: #e28c05;
}
.btn-right {
    margin-right: 61px;
}

/*
@media screen and (max-width:1150){
    .social ul li {
        background: red;
               
    }

}
@media screen and (max-width: 992px) {
    .project {
      
      /*margin-bottom: 30%;*/
     /* width: 50%;

    }
    #projects {
        margin-bottom: 35%;
    }
  }
  @media screen and (max-width: 767px) {
    .project {
      
      /*margin-bottom: 30%;*/
      /*width: 100%;
      margin: 0 auto;
    }
    #projects {
        margin-bottom: 360%;
    }
  }*/

  /*@media screen and (max-width: 660px) {
    /*.project {
      
      /*margin-bottom: 30%;*/
      /*width: 100%;
      margin-left: 6%;
    }
    #projects {
        margin-bottom: 360%;
    }
    /*.social ul  {
margin-right:2%;
padding-left: 3%;
background: red;
padding-right: 3%;
    }*/
  /*}*/

  @media (max-width: 1200px) {

   .container-fluid {
    width:1170px;
   }
   
    
   
    a.nav-link {
        text-align: center;
        /* background: #e28c05; */
    }
    .hamburger {
       color:#e28c05;
    }

  }
  
  

